<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Postmarks" />
    <meta name="description" content="Xavier Arnaus personal site markers and favourites" />

    <title>{{title}} | {{siteName}} | Xavier.Arnaus.net</title>
    {{#if (mastodonAccount) }}
    <link rel="me" href="{{ mastodonAccount }}" />
    {{/if}}
    {{{feedLink}}}
    <link rel="icon" type="image/png" href="https://xavier.arnaus.net/user/themes/bootstrap/assets/favicon.png" />
             
    <link href="https://xavier.arnaus.net/user/plugins/bootstrapper/css/v3/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="https://xavier.arnaus.net/user/plugins/bootstrapper/css/v3/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    <link href="https://xavier.arnaus.net/user/themes/bootstrap/css/fontawesome.min.css" type="text/css" rel="stylesheet">
    <link href="https://xavier.arnaus.net/user/themes/bootstrap/css/brands.min.css" type="text/css" rel="stylesheet">
    <link href="https://xavier.arnaus.net/user/themes/bootstrap/css/solid.min.css" type="text/css" rel="stylesheet">
    <link href="https://xavier.arnaus.net/user/themes/bootstrap/css/custom.css" type="text/css" rel="stylesheet">
    <link href="https://xavier.arnaus.net/user/themes/bootstrap/css-compiled/theme.css" type="text/css" rel="stylesheet">

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

{{!-- 
    <script src="/system/assets/jquery/jquery-3.x.min.js"></script>
    <script src="/user/plugins/bootstrapper/js/v3/bootstrap.min.js"></script>
    <script src="/user/themes/bootstrap/js/modernizr.custom.71422.js"></script> 
--}}

        
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1F9TNBMSZS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-1F9TNBMSZS');
    </script>
  </head>
{{!-- 
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{#if (mastodonAccount) }}
    <link rel="me" href="{{ mastodonAccount }}" />
    {{/if}}
    {{{feedLink}}}

    <title>{{title}} | {{siteName}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.global/8eaf209c-2fa9-4353-9b99-e8d8f3a5f8d4/postmarks-touch-icon-180.png?v=1693611327251" />
    <link rel="shortcut icon" href="https://cdn.glitch.global/8eaf209c-2fa9-4353-9b99-e8d8f3a5f8d4/postmarks-favicon.ico?v=1693611323474" />
    <link rel="stylesheet" href="/style.css" />
  </head>  
  --}}

  <body class="">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Xavier.Arnaus.net</a>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class=""><a href="https://xavier.arnaus.net">Home</a></li>
                  <li class=""><a href="https://xavier.arnaus.net/blog">Blog</a></li>
                  <li class="active"><a href="https://linkblog.arnaus.net">LinkBlog</a></li>
                  <li class=""><a href="https://xavier.arnaus.net/bikes">My Bikes</a></li>
                  <li class=""><a href="https://xavier.arnaus.net/photos">My Photos</a></li>
                  <li>
                    <a href="https://form.123formbuilder.com/4546560">Contact me</a>
                  </li>
              </ul>
          </div>
      </div>
    </nav>

    <div class="header">
      <div class="container">
        <div class="logo">
          <h2><a href="/">{{siteName}}</a></h2>
        </div>
        <div class="menu">
          <a href="/about">About</a>
          <a href="/search">Search</a>
          {{#if loggedIn}}
          <a href="/network">Network</a>
          <a href="/bookmark/new">Add</a>
          <a href="/admin">Admin</a>
          <a href="/logout">Logout</a>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="wrapper">
          {{> tag_list tags=tags}}
          <div class="content" role="main">
            <h2>{{title}}</h2>
          {{{body}}}
          </div>
        </div>
      </div>
    </div>
    {{{_sections.script}}}
  </body>
</html>

{{!-- 
  <body>
    <div class="header">
      <div class="logo">
        <a href="/">
          <img src="/postmarks-logo-small.png" />
          {{siteName}}
        </a>
      </div>
      <div class="menu">
        <a href="/about">About</a>
        <a href="/search">Search</a>
        {{#if loggedIn}}
          <a href="/network">Network</a>
          <a href="/bookmark/new">Add</a>
          <a href="/admin">Admin</a>
          <a href="/logout">Logout</a>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </div>
    </div>
    <div class="wrapper">
      <div class="content" role="main">
        {{^if hideTitle}}
          <h1>{{title}}</h1>
        {{/if}}
        {{{body}}}
      </div>
      {{#if adminLinks}}
        {{> admin_subnav links=adminLinks currentPath=currentPath}}
      {{else}}
        {{> tag_list tags=tags}}
      {{/if}}
    </div>
    <footer class="footer">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/search">Search</a>
      {{#if loggedIn}}
        <a href="/network">Network</a>
        <a href="/bookmark/new">Add</a>
        <a href="/admin">Admin</a>
        <a href="/logout">Logout</a>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
      <a class="btn--remix" target="_top" href="https://glitch.new/github.com/ckolderup/postmarks">
        <img src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140" alt="" />
        Remix on Glitch
      </a>
    </footer>
    {{{_sections.script}}}
  </body>
</html> 
--}}
